<div class="board"
    @ondrop="OnBoardDrop"
    @ondrop:preventDefault="true"
    @ondragover="OnBoardDragOver"
    @ondragover:preventDefault="true">
</div>
@code{
    public void OnBoardDrop(DragEventArgs e)
    {
    
    }

    public void OnBoardDragOver(DragEventArgs e)
    {
        
    }
}