@namespace DominoTrain.Components
@inherits ComponentBase
@using Microsoft.AspNetCore.Components.Rendering
<div class="row">
    <div class="domino-tile">
    <DoubleSixDominoTileHalf Value="@TopValue" Top="true" />
    <DoubleSixDominoTileHalf Value="@BottomValue" Top="false" />
    </div>
</div>
@code
{
    public const int HighestTile = 6;

    private int _topValue;
    [Parameter]
    public int TopValue
    {
        get => _topValue;
        init
        {
            if (value < 0 || value > HighestTile)
                throw new ArgumentOutOfRangeException(nameof(value));
            _topValue = value;
        }
    }

    private int _bottomValue;
    [Parameter]
    public int BottomValue
    {
        get => _bottomValue;
        init
        {
            if (value < 0 || value > HighestTile)
                throw new ArgumentOutOfRangeException(nameof(value));
            _bottomValue = value;
        }
    }

    protected Domino? _domino;
    [Parameter]
    public Domino? Domino
    {
        get => _domino;
        init
        {
            _domino = value;
            TopValue = _domino is null ? 0 : _domino.Value1;
            BottomValue = _domino is null ? 0 : _domino.Value2;
            if (_domino is not null && HighestTile != _domino.DominoSet.HighestTile)
                throw new ArgumentException(nameof(HighestTile));
        }
    }
    protected static string _topHelper(bool top) => top ? "top" : "bottom";
    public static string ClassNameForValue(bool top) => $"domino-tile__{_topHelper(top)}";
}