@page "/domino"
@layout BareLayout
<PageTitle>Domino Test</PageTitle>
<div class="game">
    <div class="game-details">
        <div class="mode-status">
            @if(false)
            {
                <span>View Mode</span>
            }
            else
            {
                <spean>Game Mode</spean>
            }
        </div>
        <div class="game-moves">
            Moves: 2
        </div>
        <div class="tiles-on-board">
            Tiles: 3
        </div>
        <div class="emptyDiv"/>
        <button class="history-back">
            @if(false)
            {
                <span>Previous</span>
            }
            else
            {
                <spean>Undo</spean>
            }
        </button>
        <button class="history-forward">
            Next
        </button>
        <div class="game-reset">
            <button class="game-reset-btn">
            @if(false)
            {
                <span>New Game</span>
            }
            else
            {
                <spean>Reset Game</spean>
            }
            </button>
        </div>
        <div class="emptyDiv"/>
        <div class="timer">
            <p>1:23</p>
        </div>
    </div>
    <div class="board">
        <div class="player" data-id="@Guid.NewGuid()">
            <div class="details">
                <span class="title"></span>
                <span class="score">Score: 123</span>
                <span class="draws">Draws: 4</span>
                <span class="avg-turn">Avg time: 1m23s</span>
                <div class="avatar">
                <img src="=imgAvatar=" draggable="false"/>
                </div>
                <button class="get-tile"></button>
            </div>
            <div class="hand-deck">
                <DoubleSixTile TopValue="0" BottomValue="0" Visible="true" Draggable="true" />
                <DoubleSixTile TopValue="6" BottomValue="6" Visible="true" Draggable="true" />
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    /* /Components/Board.razor.rz.scp.css */
.board {
    font-family: Verdana,Geneva,sans-serif;
    display: grid;
    grid-template-columns: repeat(20, 110px);
    grid-template-rows: repeat(20, 110px);
    width: 2200px;
    height: 2200px;
}
/* /Components/DoubleSixDotContainer.razor.rz.scp.css */
.dot-container {
    display: grid;
    grid-template-columns: repeat(3, 10px);
    grid-column-gap: 6px;
    justify-content: center;
    align-items: center;
}

.tile[direction="vertical"] .dot-container {
    width: 50px;
    height: 50%;
}

.tile[direction="horizontal"] .dot-container {
    width: 50%;
    height: 100%;
}

.dot-container .dot {
    border-radius: 50%;
    height: 10px;
}

/* -- 1 -- */
.dot-container[dots-number="1"] .dot[dot-index="4"] {
    background-color: black;
}

/* --2-- */
.dot-container[dots-number="2"] .dot[dot-index="0"],
.dot-container[dots-number="2"] .dot[dot-index="8"] {
    background-color: black;
}

/* --3-- */
.dot-container[dots-number="3"] .dot[dot-index="0"],
.dot-container[dots-number="3"] .dot[dot-index="4"],
.dot-container[dots-number="3"] .dot[dot-index="8"] {
    background-color: black;
}

/* --4-- */
.dot-container[dots-number="4"] .dot[dot-index="0"],
.dot-container[dots-number="4"] .dot[dot-index="2"],
.dot-container[dots-number="4"] .dot[dot-index="6"],
.dot-container[dots-number="4"] .dot[dot-index="8"] {
    background-color: black;
}

/* --5-- */
.dot-container[dots-number="5"] .dot[dot-index="0"],
.dot-container[dots-number="5"] .dot[dot-index="2"],
.dot-container[dots-number="5"] .dot[dot-index="4"],
.dot-container[dots-number="5"] .dot[dot-index="6"],
.dot-container[dots-number="5"] .dot[dot-index="8"] {
    background-color: black;
}

/* --6-- */
.tile[direction="vertical"] .dot-container[dots-number="6"] .dot[dot-index="0"],
.tile[direction="vertical"] .dot-container[dots-number="6"] .dot[dot-index="2"],
.tile[direction="vertical"] .dot-container[dots-number="6"] .dot[dot-index="3"],
.tile[direction="vertical"] .dot-container[dots-number="6"] .dot[dot-index="5"],
.tile[direction="vertical"] .dot-container[dots-number="6"] .dot[dot-index="6"],
.tile[direction="vertical"] .dot-container[dots-number="6"] .dot[dot-index="8"] {
    background-color: black;
}

/* --6-- */
.tile[direction="horizontal"] .dot-container[dots-number="6"] .dot[dot-index="0"],
.tile[direction="horizontal"] .dot-container[dots-number="6"] .dot[dot-index="1"],
.tile[direction="horizontal"] .dot-container[dots-number="6"] .dot[dot-index="2"],
.tile[direction="horizontal"] .dot-container[dots-number="6"] .dot[dot-index="6"],
.tile[direction="horizontal"] .dot-container[dots-number="6"] .dot[dot-index="7"],
.tile[direction="horizontal"] .dot-container[dots-number="6"] .dot[dot-index="8"] {
    background-color: black;
}
/* /Components/DoubleSixTile.razor.rz.scp.css */
.tile {
    border-radius: 5px;
    border: 1px solid black;
    padding: 4px;
    background-color: whitesmoke;
    transition: transform .2s;
    justify-self: center;
    align-self: center;
    box-shadow: 2px 2px 1px rgb(104, 104, 104);
    opacity: 0.0;
}

.tile hr {
    border: 1px solid black;
    margin: 1px;
    padding: 0;
    border-radius: 1px;
}

.tile[direction="vertical"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 100px;
}

.tile[direction="horizontal"] {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
}

.tile[glow="true"] {
    box-shadow: 0 0 50px rgb(212, 216, 0);
}

.tile[visible="true"] {
    opacity: 1;
    animation-name: fadeInOpacity-b-pngz9hynze;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .3s;
}

/* /Components/EmptyCell.razor.rz.scp.css */
.drag-enter {
    border: 1px dashed #dbff00;
}
/* /Components/Game.razor.rz.scp.css */
/* /Components/GameDetails.razor.rz.scp.css */
.game-details {
    display: grid;
    width: 300px;
    height: 117px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    position: fixed;
    top: 0;
    left: 50%;
    background-color: rgb(171, 175, 179);
    border-radius: 0 0 15px 15px;
    font-size: 17px;
    align-items: center;
    padding: 8px;
    transform: translate(-50%, 0);
    text-align: center;
    grid-gap: 3px;
}

.history-forward {
    display: block;
    opacity: 1;
}

.mode-status
.tiles-on-board,
.game-moves {
    font-weight: normal;
    color: white;
}


.game-details .timer {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

    .game-details .timer p {
        margin: 5px 0 0 0;
    }

.game-details button {
    margin: auto;
    width: 130px;
}
/* /Components/Player.razor.rz.scp.css */
.player {
    position: fixed;
    bottom: 0;
    left: 50%;
    height: 140px;
    background-color: rgb(151, 178, 205);
    border-radius: 15px 15px 0 0;
    font-size: 17px;
    display: flex;
    align-items: flex-end;
    padding: 8px 8px 25px 8px;
    transform: translate(-50%, 0);
}

.title {
    font-weight: bold;
}

.player .hand-deck {
    height: 110%;
    width: 450px;
    display: flex;
    overflow-x: scroll;
}

.player .hand-deck::-webkit-scrollbar {
    -webkit-appearance: none;
}

.player .hand-deck::-webkit-scrollbar:vertical {
    width: 11px;
}

.player .hand-deck::-webkit-scrollbar:horizontal {
    height: 11px;
}

.player .hand-deck::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid black; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.player .hand-deck .tile {
    margin: 0 2px 0 2px;
    cursor: pointer;
}

.player .details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100px;
    margin-right: 10px;
    font-size: 17px;
    text-align: center;
}

.player .avatar {
    vertical-align: middle;
    width: 100%;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.player .avatar img {
    width: 50px;
    height: 50px;
}

.player .hand-deck .tile:hover {
    transform: scale(1.1);
}
/* /Components/PopUp.razor.rz.scp.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    transition: all .5s;
    margin-bottom: 25%;
}

.popup-header {
    background: #263238;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
}

.popup-header h3 {
    color: white;
    float: left;
    margin: 0;
    padding: 0;
}

.popup-body {
    padding: 10px 15px;
    text-align: center;
}

.close-popup-btn {
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin-left: 10px;
    bottom: 3px;
    position: relative;
}

.close-popup-btn:hover {
    color: gray;
}
/* /Components/Timer.razor.rz.scp.css */
.timer {
    font-weight: normal;
    color: white;
}
</style>