@page "/domino"
<PageTitle>Domino Test</PageTitle>
<!-- Game  /-->
<hr />
<h1>[0|0]</h1>
<DoubleSixTile TopValue="0" BottomValue="0" />
<hr/>
<h1>[6|6]</h1>
<DoubleSixTile TopValue="6" BottomValue="6" />
<hr />