@page "/domino"
<PageTitle>Domino Test</PageTitle>
<div style="background-color: darkslateblue;">
    <div style="background-color: darkblue;">
        <DoubleSixDominoTile TopValue="0" BottomValue="0" />
    </div>
    <div style="background-color: midnightblue">
        <DoubleSixDominoTile TopValue="6" BottomValue="6" />
    </div>
</div>