<h1>Dominoes - Double-Six Set</h1>
<p>With Flexbox/Blazor/Razor</p>
<!-- Blank-->
<div class="row">
  <div class="dominoes-tile">
    <div class="dominoes-tile__top"></div>
    <div class="dominoes-tile__bottom"></div>
  </div>
</div>
<!-- One Set-->
<div class="row">
  <div class="dominoes-tile">
    <div class="dominoes-tile__top"></div>
    <div class="dominoes-tile__bottom tile-1">
      <div class="dot"></div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-1">
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-1">
      <div class="dot"></div>
    </div>
  </div>
</div>
<!-- Two Set-->
<div class="row">
  <div class="dominoes-tile">
    <div class="dominoes-tile__top"></div>
    <div class="dominoes-tile__bottom tile-2">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-1">
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-2">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-2">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-2">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
</div>
<!-- Three Set-->
<div class="row">
  <div class="dominoes-tile">
    <div class="dominoes-tile__top"></div>
    <div class="dominoes-tile__bottom tile-3">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-1">
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-3">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-2">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-3">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-3">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-3">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
</div>
<!-- Four Set-->
<div class="row">
  <div class="dominoes-tile">
    <div class="dominoes-tile__top"></div>
    <div class="dominoes-tile__bottom tile-4">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-1">
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-4">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-2">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-4">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-3">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-4">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-4">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="dominoes-tile__bottom tile-4">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
</div>
<!-- Five Set-->
<div class="row">
  <div class="dominoes-tile">
    <div class="dominoes-tile__top"></div>
    <div class="dominoes-tile__bottom tile-5">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="dot"></div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-1">
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-5">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="dot"></div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-2">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-5">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="dot"></div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-3">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-5">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="dot"></div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-4">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="dominoes-tile__bottom tile-5">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="dot"></div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-5">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="dot"></div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="dominoes-tile__bottom tile-5">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="dot"></div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
</div>
<!-- Six Set-->
<div class="row">
  <div class="dominoes-tile">
    <div class="dominoes-tile__top"></div>
    <div class="dominoes-tile__bottom tile-6">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-1">
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-6">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-2">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-6">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-3">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="dominoes-tile__bottom tile-6">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-4">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="dominoes-tile__bottom tile-6">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-5">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="dot"></div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="dominoes-tile__bottom tile-6">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="dominoes-tile">
    <div class="dominoes-tile__top tile-6">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="dominoes-tile__bottom tile-6">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
</div>
