@page "/"

<PageTitle>Domino Train</PageTitle>

<h1>Domino Train</h1>

<p>"Mexican Train" dominoes for the web.</p>
<p><ul>
    <li>Built on C# with Blazor WebAssembly</li>
    <li>Built on ES6 Firebase version 9.8.x non-namespaced, webpacked</li>
</ul></p>
