@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Domino Train</PageTitle>

<h1>Domino Train</h1>

<p>"Mexican Train" dominoes for the web.</p>
<p><ul>
    <li>Built on C# with Blazor WebAssembly</li>
    <li>Built on ES6 Firebase version 9.8.x non-namespaced, webpacked</li>
    <AuthorizeView>
        <Authorized>
            <li><a href="/domino">Test</a></li>
        </Authorized>
        <NotAuthorized>
            <li>
                <p>Login or Register to search for and create games</p>
                <ul>
                    <li><NavLink href="authentication/login" class="btn btn-link">Login</NavLink></li>
                    <li><NavLink href="account/register" class="btn btn-link">Register</NavLink></li>
                </ul>
            </li>
        </NotAuthorized>
        </AuthorizeView>
</ul></p>

@code {
}
